@import "tailwindcss";

@theme {
  --color-main: #61055a;
  --color-maind: #42033d;
  --color-mainpink: #9f086f;
  --color-maindcont: #856080;
  --color-maincont: #ac94a9;
  --color-sec: #e2e059;
  --color-maindlight: #dfc8eb;
}

/* scrollbar */
@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}
